<!DOCTYPE html>
<html>
  <head>
    <title>Sidcord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/94ce68f126.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/x-icon" href="<%=image_url('discord-v2.svg')%>">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
